.block_div, .block_div_edit_notes {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    display: none;
}

.block_div_edit_notes {
    z-index: 20;
}

.inner_div_relative {
    position: relative;
}

.no_result {
    text-align: center;
    font-size: 2vw;
    margin-top: 5vw;
}

.mycart_section {
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.65);
    margin: 0 auto;
    margin-top: 1vw;
    border-radius: 1vw;
    height: 40vw;
    position: relative;
}

input[type=checkbox]     {
    height: 1vw;
    width: 1vw;
    accent-color: #FD6727;
    border-color: white;
}

.mycart_head {
    font-size: 1.5vw;
    padding: 0.6vw 2.4vw;
    border-bottom: 0.2vw rgba(253, 103, 39, 0.3) solid;
    font-weight: bold;
}

.mycart_item_list_section {
    display: flex;
    flex-direction: column;
    height: 26.8vw;
    overflow: auto;
}

.mycart_item_lists {
    margin: 0 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.2vw rgba(253, 103, 39, 0.3) solid;
}

.quantity_input {
    width: 3%;
}

.item_section {
    width: 70%;
    display: flex;
    align-items: center;
}

.item_section img {
    width: 8vw;
    height: 7vw;
    margin-right: 1.5vw;
}

.item_desc {
    width: 80%;
}

.item_tenant {
    font-size: 1.2vw;
    font-weight: 700;
    margin-bottom: 0.6vw;
}

.item_menu {
    font-size: 1vw;
    margin-bottom: 0.3vw;
}

.item_price {
    font-size: 0.8vw;
}

.item_notes {
    margin-top: 0.8vw;
    font-size: 1vw;
}

.item_notes_desc_not_edit, .item_notes_desc_edit_section{
    margin-top: 0.2w;
    font-size: 0.9vw;
    width: 100%;
}

.item_notes_desc_edit_section {
    position: relative;
    display: none;
}

.item_notes_desc_edit {
    padding: 0.2vw 1.5vw 0.2vw 0.5vw;
    border-radius: 0.5vw;
    outline: none;
    resize: none;
    width: 100%;
}

.x_mark {
    padding: 0.5vw;
    font-size: 0.8vw;
    position: absolute;
    right: -0.5vw;
    top: 50%;
    transform: translate(-50%, -50%);
}

.x_mark:hover {
    cursor: pointer;
    border-radius: 10vw;
    background-color: rgba(0, 0, 0, 0.3);
}

.item_quantity_section  {
    width: 17%;
    margin: 1.5vw;
}

.item_quantity {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.item_quantity_value_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 1vw;
}

.item_quantity_value {
    padding: 0.15vw 1.3vw;
    background-color: #D9D9D9;
    box-shadow: 0 0.1vw 0.2vw 0.1vw inset rgba(0, 0, 0, 0.4);
    font-size: 0.9vw;
}

.item_quantity_minus_sign, .item_quantity_plus_sign {
    padding: 0.15vw 0.3vw;
    border: 0.13vw rgba(253, 103, 39, 0.6) solid;
    border-radius: 0.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    color: rgba(253, 103, 39, 0.6);
}

.item_quantity_minus_sign:hover , .item_quantity_plus_sign:hover {
    border: 0.13vw rgba(253, 103, 39, 1) solid;
    color: rgba(253, 103, 39, 1);
    cursor: pointer;
}

.item_quantity_edit {
    padding: 0.3vw 0.8vw;
    color: rgba(253, 103, 39, 0.6);
    font-size: 0.9vw;
    margin-top: 1.5vw;
    border: 0.1vw rgba(253, 103, 39, 0.6) solid;
    border-radius: 2vw;
}

.item_quantity_edit:hover {
    border: 0.1vw rgba(253, 103, 39, 1) solid;
    color: rgba(253, 103, 39, 1);
    cursor: pointer;
}

.totalvalue_and_checkout_section {
    padding: 0.5vw 3%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-top: 0.2vw rgba(253, 103, 39, 0.3) solid;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
}

.mycart_totalvalue {
    display: flex;
    align-items: flex-end;
    font-size: 1.5vw;
    margin-left: 5vw;
}

.subtotal_value {
    font-size: 1.2vw; 
    margin-left: 1.2vw;
    line-height: 1.5vw;
}

.mycart_checkout {
    padding: 0.6vw 0.8vw;
    background-color: #FD6727;
    border-radius: 1vw;
    color: white;
    font-size: 0.9vw;
    font-weight: 700;
}

.mycart_checkout:hover {
    cursor: pointer;
}

.mycart_checkout:active {
    position: relative;
    top: 0.1vw;
}

.order_summary {
    width: 23vw;
    position: absolute;
    background-color: #F9C140;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1vw;
    z-index: 11;
}

.back_sign {
    color: black;
    position: absolute;
    left: 0.7vw;
    top: 0.8vw;
    font-size: 1.6vw;
    padding: 0.1vw;
}

.back_sign:hover {
    cursor: pointer;
    border-radius: 10vw;
    background-color: rgba(255, 255, 255, 0.3);
}

.back_sign:active {
    left: 0.5vw;
}

.order_summary_header {
    margin: 0 1.5vw;
    margin-top: 1.6vw;
    padding: 0.4vw 0;
    border-bottom: 0.1vw black solid;
    font-size: 1.8vw;
    font-weight: bold;
    text-align: center;
}

.payment_methods_section {
    margin: 0 0.5vw 1vw 0.5vw;
    padding: 0 1vw;
    font-size: 1.2vw;
    border-bottom: 0.2vw black dashed;
}

.payment_methods_header {
    font-size: 1.4vw;
    padding-top: 0.8vw;
} 

.payment_methods {
    margin-top: 1.5vw;
}

.emoney_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2vw 1vw;
    margin-bottom: 0.8vw;
    border: none;
    border-radius: 0.3vw;
    border-width: 0.1vw;
    border-color: white;
}

.emoney_logo_name {
    display: flex;
    align-items: center;
}

.emoney_logo_name img {
    width: 2vw;
    height: 2vw;
    margin-right: 1.5vw;
}

.emoney_value span {
    display: none;
}

.total_payment_section {
    margin: 0 1vw;
}

.service_charge, .subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 1.3vw;
}

.total_value {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    font-size: 1.8vw;
}

.order_button_section {
    display: flex;
    justify-content: center;
}

.order_button {
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    background-color: #FD6727;
    text-align: center;
    padding: 1vw 0;
    margin: 1.8vw auto;
    width: 9.5vw;
    border-radius: 1.2vw;
    box-shadow: 0.2vw 0.2vw #af471b;
}

.order_button:hover {
    cursor: pointer;
}

.order_button:active {
    position: relative;
    top: 0.2vw;
    left: 0.2vw;
    box-shadow: none;
}

.popup-confirm{
    background-color: #F26122;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.isi{
    display: flex;
    flex-direction: column;
    background-color: #F9C140;
    border-radius: 15px;
    padding-top: 5vw;
    padding-bottom: 3vw;
    padding-left: 4vw;
    padding-right: 4vw;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.5);
}

.teks-sukses{
    font-size: 30px;
    padding-bottom: 0.5vw;
}

.text-ok{
    display: flex;
    padding-top:1.5vw;
    justify-content: right;
}

.teks-ok:hover {
    cursor: pointer;
}

.teks-ok{
    background-color: #FD6727;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}