body{
    margin: 0;
}

#divbackground{
    height: 100vh;
    width: 100vw;
    background-color: #FCEDCA;
}

#welcometxt{
    text-align: center;
    font-family: 'Inter';
    font-size: 35px;
    font-weight: bold;
    color: #F26122;
    margin: 0;
    padding:1.5vw;
}

#divcontentbackground{
    background-color: #F9C140;
    width: 100vw;
    height: 80vh;
}

#divlogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    margin-top: 25px;
}

img{
    max-width: 10vw;
}

#divcontainer{
    width:100vw;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#resetpasstxt{
    text-align: center;
    font-family:'Inter';
    font-size: 25px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: white;
    padding-top: 12px;
    padding-bottom: 26px;
    border-radius: 15px;
    width: 30vw;
}

.formsection{
    margin: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    background-color: #D9D9D9;
    border:none;
    border-radius: 10px;
    padding: 18px;
    width: 23.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#verificationtext{
    padding-right: 2.4vw;
    padding-left: 2.4vw;
    text-align: justify;
    font-size: 19px;
    margin-bottom: 28px;
    margin-top: 1.3vw;
}

.email_input{
    margin-top: 1.8vw;
    padding-right: 8vw;
    padding-left: 2vw;
    margin-bottom: 2.5vw;
}

.part_button{
    padding-right: 8.2vw;
    padding-left: 2.6vw;
}


.pass_input{
    margin-top: 0.7vw;
    padding-right: 8vw;
    padding-left: 2vw;
    margin-bottom: 1.6vw;
}

.confirmpass{
    margin-top: 10px;
}

button {
    width: 25vw;
    border-color: #F26122;
    border-radius: 20px;
    height: 40px;
    border-width: 1px;
    background-color: white;
}

button:hover {
    width: 25vw;
    border-color: #F26122;
    border-radius: 20px;
    height: 40px;
    border-width: 1px;
    background-color: #F26122;
}

button:hover p{
    margin: 0;
    font-weight: bold;
    font-family: 'Inter';
    color: white;
    font-size: 20px;
}

#verification{
    margin: 0;
    font-weight: bold;
    font-family: 'Inter';
    color: #F26122;
    font-size: 20px;
}

#verification:hover{
    margin: 0;
    font-weight: bold;
    font-family: 'Inter';
    color: white;
    font-size: 20px;
}
