.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 87vh;
}

.kiri{
    margin-right: 4vw;
}

.div-nama-restoran{
    display: flex;
    justify-content: center;
    width: 25vw;
}

.text-nama-restoran{
    background-color: #F9C140;
    color: #F26122;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    text-align: center;
    font-size: 50px;
    width: 25vw;
}

.logo-binuseats{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5vw;
    width: 25vw;
}

.description{
    width: 25vw;
}

.text-description{
    font-size: 25px;
    text-align: justify;
}

.kanan{
    display: flex;
    background-color: #D9D9D9;
    border-radius: 25px;
    position: relative;
}

.menu{
    display: flex;
    border-radius: 25px;
    height: 72vh;
    width: 40vw;
    justify-content: center;
    flex-direction: column;
}

.container-menu{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    align-items: center;
}


.nama-menu{
    display: flex;
    background-color: white;
    height: 20vh;
    width: 40%;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.logo-panah{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.logo-panah img{
    width: 3vw;
}

.isi-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17vh;
    width: 14vw;
    
}

.menu1{
    width: 15vw;
}

.tengah{
    display: flex;
    justify-content: space-between;
    width: 14vw;
    align-items: center;
}

.text-nama-menu{
    font-size: 19px;
}

.text-harga{
    font-size:20px;
}

.text-stock{
    font-size:18px;
}

.text-order{
    font-size:20px;
    font-weight: bold;
    background-color: #FD6727;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
    border-radius: 20px;
}