.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 87vh;
}

.kiri{
    margin-right: 4vw;
}

.div-nama-restoran{
    display: flex;
    justify-content: center;
    width: 25vw;
}

.text-nama-restoran{
    background-color: #F9C140;
    color: #F26122;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    text-align: center;
    font-size: 50px;
    width: 25vw;
}

.logo-binuseats{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5vw;
    width: 25vw;
}

.logo-binuseats img{
    width: 25vw;
    height: 20vw;
}

.description{
    width: 25vw;
}

.text-description{
    font-size: 25px;
    text-align: justify;
}

.kanan{
    display: flex;
    background-color: #D9D9D9;
    border-radius: 25px;
    position: relative;
}

.menu{
    display: flex;
    border-radius: 25px;
    height: 72vh;
    width: 40vw;
    justify-content: center;
    flex-direction: column;
}

.container-menu{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    align-items: center;
}


.nama-menu{
    position: relative;
    display: flex;
    background-color: white;
    height: 20vh;
    width: 40%;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.nama-menu_block {
    position: absolute;
    height: 100%;
    width: 100%;
}

.logo_panah_kanan, .logo_panah_kiri{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2vw;
    height: 2vw;
}

.logo_panah_kiri {
    left: 0;
}

.logo_panah_kanan i {
    margin-right: 0.5vw;
    font-size: 2vw;
    cursor: pointer;
}

.logo_panah_kiri i {
    margin-left: 0.5vw;
    font-size: 2vw;
    cursor: pointer;
}

.logo_block_div {
    display: none; 
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 0;
    left: 0;
}


.isi-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17vh;
    width: 14vw;
    
}

.menu1{
    width: 15vw;
}

.tengah{
    display: flex;
    justify-content: space-between;
    width: 14vw;
    align-items: center;
}

.text-nama-menu{
    font-size: 1.15vw;
}

.text-harga{
    font-size:1.2vw;
}

.text-stock{
    font-size:1.1vw;
}

.text-order{
    font-size:1.2vw;
    font-weight: bold;
    background-color: #FD6727;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
    border-radius: 2vw;
}