.kontener{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 87vh;
}

.left{
    margin-right: 7vw;
}

.div-name-restoran{
    display: flex;
    justify-content: center;
    width: 25vw;
}

.text-name-restoran{
    background-color: #F9C140;
    color: #F26122;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    text-align: center;
    font-size: 50px;
    width: 25vw;
}

.logo-binuseat{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5vw;
    width: 25vw;
}

.right{
    display: flex;
    background-color:white;
    border-radius: 20px;
    flex-direction: column;
    width: 45vw;
    height: 72vh;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.detail{
    display: flex;
    justify-content: space-between;
    background-color: #F26122;
    width: 45vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
}


.detail2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
}

.stok{
    display: flex;
    justify-content: right;
    width: 28vw;
}

.batch{
    display: flex;
    justify-content: right;
    width: 28vw;
}

.text-title{
    font-size:28px;
}

.text-price{
    font-size:26px;
    color:white;
}

.text-stok{
    font-size:20px;
    color:white;
}

.batch{
    font-size:20px;
    color: white;
}

.jem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.text-jem{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.jumlah{
    display: flex;
    height: 15vh;
    margin-left: 5vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}

.pilih{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 16vw;
}

.jenis{
    display: flex;
    padding-bottom: 0.5vw;
    font-size: 17px;
}

.kotak{
    margin-right: 2vw;
}

#checkbox{
    accent-color:#F26122;
}

.item_quantity_section_menu_detail  {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    width: 17%;
    margin-top: 1.5vw;
    margin-left: 34.5vw;
}

.item_quantity_value_section_menu_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}

.item_quantity_value_menu_detail {
    padding: 0.2vw 1.4vw;
    background-color: #D9D9D9;
    box-shadow: 0 0.1vw 0.2vw 0.1vw inset rgba(0, 0, 0, 0.4);
    font-size: 1.2vw;
}

.item_quantity_minus_sign_menu_detail, .item_quantity_plus_sign_menu_detail {
    padding: 0.25vw 0.4vw;
    border: 0.13vw rgba(253, 103, 39, 0.6) solid;
    border-radius: 0.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    color: rgba(253, 103, 39, 0.6);
}

.item_quantity_minus_sign_menu_detail:hover , .item_quantity_plus_sign_menu_detail:hover {
    border: 0.13vw rgba(253, 103, 39, 1) solid;
    color: rgba(253, 103, 39, 1);
    cursor: pointer;
}

.requesttxt {
    height: 20vh;
    background-color: #F4F4F4;
    border: none;
    outline: none;
    width: 43vw;
    margin-left: 1vw;
    text-align: left;
    padding: 0;
}



.add-cart{
    display: flex;
    justify-content: right;
    align-items: end;
    height: 20vh;
    width: 45vw;
    margin-top: 0.5vw;
}

.add{
    padding: 1.5vw;
}

.text-add{
    color:white;
    background-color: #FD6727;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
}
