.AllOrder{
    background-color: white;
    width: 74vw;
    height: 80vh;
    margin-top: 3vw;
    margin-left: 12vw;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.transactionstatus{
    padding-top: 2vw;
    padding-bottom: 1vw;
    font-size: 20px;
    margin-left: 3.5vw;
}

.allpart{
    display: flex;
    justify-content: left;
    margin-left: 3.5vw;
    position: relative;
    top: 0.4vw;
    z-index: 2;
}

.partprocessing{
    padding: 1vw;
    padding-bottom: 1.2vw;
    border: 1px solid #FCEDCA;
    border-top-left-radius: 10px;
}

.partfinished{
    padding: 1vw;
    padding-bottom: 1.2vw;
    border: 1px solid #FCEDCA;
    border-top-right-radius: 10px;
}

a{
    color: black;
    text-decoration: none;
}

.ordercontent{
    background-color: #FCEDCA;
    width: 67vw;
    height: 47vh;
    margin-left: 3.5vw;
    border-radius: 10px;
    padding-top: 3vw;
    position: relative;
    z-index: 3;
}


.processingcontent{
    display: flex;
    justify-content: space-around;
    width: 62vw;
    margin-left: 2.5vw;
    padding-top: 1.6vw;
    padding-bottom: 1.6vw;
    border-top: 1px solid  #F26122;
    border-bottom: 1px solid  #F26122;
}

.foto{
    background-color: white;
    width: 6.5vw;
    height: 6.5vw;

}

.Partorder{
    margin-right: 15vw;
}

.orderdetail{
    display: flex;
    justify-content: space-between;
    margin-top: 0.1vw;
    margin-bottom: 1.5vw;
    font-size: 14px;
}

.detailorder{
    display: flex;
    justify-content: space-between;
}

.pesanan{
    margin-left: 1vw;
}
.harga{
    font-size: 14px;
}

.statusorder{
    font-size: 14px;
    color: white;
    margin-top: 1.6vw;
    display: flex;
    justify-content: right;
}
.prosestxt{
    background-color: #F26122;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.estimation{
    font-size: 14px;
}




/* iijo #08A618 */

.finishedcontent {
    margin-bottom: 5vw;
    display: flex;
    justify-content: right;
    flex-direction: column;
  }

  .statuspickup{
    display: flex;
    justify-content: right;
    font-size: 14px;
    color: white;
    margin-top:3vw ;
    margin-right: 3.8vw;
  }

  .pickuptxt{
    background-color: #F26122;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}



  .buttonpickup {
    display: flex;
    justify-content: right;
    margin-top: 2vw;
    margin-right: 3.8vw;
    margin-bottom: 1vw;
  }

  .confirmbutton{
    background-color: white;
    border-radius: 20px;
    padding: 0.2vw 0.6vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 12px;
  }

  .statuscomplete{
    display: flex;
    justify-content: right;
    font-size: 14px;
    color: white;
    margin-right: 3.8vw;
  }

  .finishtxt{
    background-color: #08A618;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}




