body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    position: relative;
}

body p{
    margin: 0;
}

.sapa-tenant{
    margin-right: 0.5vw;
}

.text-sapa-tenant{
    font-size: 30px;
}

.banner{
    background-color: #F9C140;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.home-button{
    width: 3vw;
    height: fit-content;
    display: flex;
    align-self: center;
    margin-left: 2vw;
    cursor: pointer;
}

.content{
    background-color: #FCEDCA;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.navigation-bar{
    padding-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#icondrop{
    font-size: 25px;
    cursor: pointer;
    position: relative;
}

.dropdown{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 15vw;
    top: 7vh;
    right: 5vw;
    border: solid;
    border-color: black;
    border-width: 1.5px;
    background-color: rgba(255,255,255,0.8);
    padding-left:  0.5vw;
    padding-right: 0.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


#icontransaction{
    font-size: 50px;
    color: black;
    transition: color 0.15s;
}

#iconhistory{
    font-size: 40px;
    color: black;
    transition: color 0.15s;
}

#iconlogout{
    font-size: 40px;
    color: black;
    transition: color 0.15s;
}


p{
    transition: color 0.15s;
}

.div-transaksi, .div-history{
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1.3vw;
    text-decoration: none;
    color: black;
}

.div-history{
    margin-bottom: 0.5vw;
}

.div-logout{
    display: flex;
    width: 90%;
    align-items: center;
    margin-top: 0.5vw;
    justify-content: space-evenly;
    margin-right: 1.2vw;
}

.div-history:hover {
    cursor: pointer;
}

.div-transaksi:hover {
    cursor: pointer;
}

.div-logout:hover {
    cursor: pointer;
}

.div-transaksi:hover p, .div-transaksi:hover #icontransaction{
    color: #FD6727;
}

.div-history:hover p, .div-history:hover #iconhistory{
    color: #FD6727;
}

.div-logout:hover p, .div-logout:hover #iconlogout{
    color: #FD6727;
}



.space{
    margin-top: -0.5vw;
    margin-bottom: -0.5vw;
    display: flex;
    justify-content: center;
}

hr{
    display: flex;
    justify-content: center;
    width: 13vw;
}