.admin-transaction{
    background-color: white;
    height: 78.5vh;
    width: 70vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    overflow: auto;
}


.transaction-status{
    padding-top: 2vw;
    padding-bottom: 1vw;
    font-size: 30px;
    margin-left: 5vw;
}

.order-content{
    background-color: #FCEDCA;
    width: 60vw;
    border-radius: 10px;
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-bottom: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    overflow: auto;
    margin-left: 5vw;
    margin-right: 5vw;
}

.coba{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notes{
    font-size: 14px;
}

.text-namatenant{
    font-size: 20px;
}

.text-quantity{
    font-size: 16px;
}

.text-pesanan{
    font-size: 16px;
}

.text-notes{
    font-size: 16px;
}


.processing-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid  #F26122;
    border-bottom: 1px solid  #F26122;
    padding-top: 1.6vw;
    padding-bottom: 1.6vw;
}

.foto-makanan{
    background-color: white;
    width: 6.5vw;
    height: 6.5vw;
    margin-right: 0.5vw;
}

#iconchecklist{
    font-size: 35px;
    color: #F26122;
    position: relative;
    margin-right: 0.5vw;
}

#iconbell{
    font-size: 35px;
    color: #F26122;
}

.status-order {
    position: relative;
    display: inline-block;
}

.status-order .proses-txt {
    visibility: hidden;
    width: 7vw;
    text-align: center;
    background-color: #F26122;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    font-size: 10px;
    top:-9px;
    position: absolute;
    right: 2.2vw;
    color: white;
} 

.status-order:hover .proses-txt {
    visibility: visible;
}

.isisi{
    display: flex;
    justify-content: center;
}

.Partorder{
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.namatenant{
    margin-bottom: 0.5vw;
}

.orderdetail{
    display: flex;
    margin-bottom: 1.5vw;
}

.pesanan{
    margin-left: 1.5vw;
}