.div-container{
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.konten{
    display: flex;
    flex-direction: column;
}

.dashboard{
    display: flex;
    align-items: center;
    margin-bottom: 0.5vw;
}

.isi{
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    width: 60vw;
    height: 80vh;
}

.text-dashboard{
    font-size: 30px;
}

.column{
    /* background-color: yellow; */
    margin-top: 3vh;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 1vw;
}

.makanan{
    /* background-color: orange; */
    width: 60vw;
    height: 55vh;
    overflow: auto;
}

.nama-makanan{
    padding-top:0.5vw;
    padding-bottom: 0.5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add{
    display: flex;
    justify-content: right;
    margin-top: 4vh;
    margin-bottom: 1vh;
    margin-right: 3vw;
}

.id{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    width: 2vw;
}

.menu{
    /* background-color: orange; */
    width: 27vw;
}

.stock{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: green; */
    width: 3vw;
}

.action{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blue; */
    width: 3vw;
}

p{
    font-size: 20px;
}

.add-button{
    padding-right: 1vw;
}

.text-add{
    color: white;
    background-color: #FD6727;
    border-radius: 20px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}


.garis{
    margin-left: 3vw;
    border: 2px solid black;
    width: 53vw;
}


i{
    font-size:20px;
    color: #FD6727;
}

#iconeye{
    color: rgba(0,0,0,0.5);
}